<p>I want to...</p>
<ul>
  <li>Be able to add receipts by hand.</li>
  <li>Be able to batch add receipts from a CSV.</li>
  <li>Be able to edit receipts and add line items to them.</li>
  <li>Be able to assign a product to a line item.</li>
  <li>Be able to assign a store to a receipt or add a new one.</li>
  <li>Be able to add a location to a store.</li>
  <li>Be able to select or create discount cards for stores as an admin user.</li>
  <li>Be able to suggest discount cards as a user.</li>
  <li>Be able to assign a discount card to a store as an admin user.</li>
  <li>Be able to add vendors as an admin user.</li>
  <li>Be able to assign products to a vendor as an admin user.</li>
  <li>Be able to suggest products as a user.</li>
  <li>Be able to sugget vendors as a user.</li>
  <li>Be able to add categories as an admin user.</li>
  <li>Be able to add descriptors to locations, categories, products, vendors, and stores.</li>
</ul>

<ul>
 <li><%= link_to "Sessions", sessions_path %></li>
 <li><%= link_to "Users", users_path %></li>
 <li><%= link_to "Shopping Lists", shopping_lists_path %></li>
 <li><%= link_to "Vendors", vendors_path %></li>
 <li><%= link_to "Stores", stores_path %></li>
 <li><%= link_to "Locations", locations_path %></li>
 <li><%= link_to "Descriptors", descriptors_path %></li>
 <li><%= link_to "Categories", categories_path %></li>
 <li><%= link_to "Products", products_path %></li>
 <li><%= link_to "Discount Cards", discount_cards_path %></li>
 <li><%= link_to "Line Items", line_items_path %></li>
 <li><%= link_to "Receipts", receipts_path %></li>
</ul>
