<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Newsfeed uri:</strong>
  <%= @vendor.newsfeed_uri %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @vendor.phone_number %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
