<div id="container" style="width:800px;">
  <%= form_for(receipt) do |f| %>

    <% if receipt.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

        <ul>
        <% receipt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="shelf">
      <div class="green flat-panel book">
        <div class="flat-panel-title green">
          <%= f.label :order_number %>
        </div>
        <h6>If your receipt has an invoice or order number enter it here.</h6>
        <%= f.number_field :order_number, size: 10, style:"width:100px;", class:"form-control" %>
      </div>

      <div class="green flat-panel book">
        <div class="green flat-panel-title">
          <%= f.label :datetime, "Purchase Date/Time" %>
        </div>
        <div class='input-group date' id='datetimepicker1'>
          <h6>Choose the date and time that the transaction occurred.</h6>
          <%= f.text_field :datetime, id:"datetimepicker", class:"form-control" %>
          <script type="text/javascript">
            $(function () {
              $('#datetimepicker').datetimepicker();
            });
          </script>
        </div>
      </div>

      <div class="green flat-panel book">
        <div class="green flat-panel-title">
          Store
        </div>
        <h6>Select a Store or click the link to add a new one.</h6>
        <%# Dev: Add ability to create a new Store from this view here. %>
        <div>
          <%= select(nil, nil, options_for_select(@stores.map{|s|[s.name, s.id]}), prompt: "New Store") %>
        </div>
        <div class="green pill">
          <span>
            <%= button_to "New Store", new_store_path %>
          </span>
        </div>
      </div>
    </div>

    <div class="flat-panel brown">
      <div class="flat-panel-title brown">
        <span>LINE ITEMS</span>
      </div>
      <div class="blue flat-panel-title" style="text-align:right;float:right;">
        <%= f.label :payment_method %>
        <%= f.select(:payment_method, options_for_select([["Cash", 0], ["Debit", 1], ["Credit", 2], ["Check", 3], ["Other", 4]])) %>

        <%= f.label :currency %>
        <%= f.select(:currency, options_for_select([["USD", 0], ["Euro", 1]])) %>

        <%= f.label :total %>
        <%= number_to_currency(receipt.line_items.sum(&:sale_price)) %>
      </div>

      <% if @line_items.present? %>
        <table>
          <tr>
            <th>Product Name</th>
            <th>On Sale?</th>
            <th>List Price</th>
            <th>Sale Price</th>
          </tr>
          <% @line_items.each do |line_item| %>
            <%= render partial: 'line_item_records', locals: { line_item: line_item } %>
          <% end %>
        </table>
      <% else %>
        <h3>No Line Items yet.</h3>
      <% end %>

      <%= form_for @line_item do |item| %>
        <div id="line_item_entry">
          <%= render partial: 'line_item_entry', locals: { item: item } %>
        </div>
        <div class="actions" style="clear:both;margin-right:10px;">
          <%= item.submit %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit for: "new_receipt", class:"blue pill" %>
    </div>
  <% end %>
</div>
