<%= form_for(receipt) do |f| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label :datetime %>
        <%= f.text_field :datetime, id: "datetimepicker", class: "form-control" %>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker').datetimepicker();
          });
        </script>
      </div>
    </div>

    <div class="field">
      <%= f.collection_select(:store_id, @stores, :id, :name, prompt: "Add Store") %>
    </div>

    <div class="field">
      <%= f.label :payment_method %>
      <%= f.text_field :payment_method %>
    </div>

    <div class="field">
      <%= f.label :order_number %>
      <%= f.number_field :order_number %>
    </div>

    <div class="field">
      <%= f.label :total %>
      <%= f.text_field :total %>
    </div>

    <div class="field">
      <%= f.label :currency %>
      <%= f.text_field :currency %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
