<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @location.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @location.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @location.postal_code %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @location.ip_address %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
